*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// html, body{
//   height: 100%;
// }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .contenedorGeneral{
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   border: 1px solid blue;
// }

// .containerMenu{
//   display: flex;
//   flex-direction: column;
//   // border: 1px solid red;

//   &__links{
//     margin: 0 auto;
  
//     &--item{
//       // border-bottom: 1px solid rgb(177, 177, 177);
//       margin: 0 10px;
//     }
//   }
// }

// .footer{
//   border: 1px solid red;
//   height: 10vh;
// }

// .mainGeneral{
//   background-image: linear-gradient(190deg, #e6ffff 0, #e0f8fb 25%, #d9e5e7 50%, #d1d3d3 75%, #cac2bf 100%);
//   height: 80vh;
//   border: 1px solid rgb(255, 0, 255);
// }

.contenedorGeneral{
  height: 100vh;
}

.contenedorHeader{
  height: 10vh;
}

.contenedorMain{
  height: 80vh;
  display: grid;
  place-content: center;
  background-image: linear-gradient(190deg, #e6ffff 0, #e0f8fb 25%, #d9e5e7 50%, #d1d3d3 75%, #cac2bf 100%);
}

.contenedorFooter{
  height: 10vh;
  background-image: linear-gradient(190deg, #cedffe 0, #b5bdcd 50%, #9c9c9e 100%);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    margin: 0 5px;
  }
}

.cta {
	border: none;
	background: none;
	span {
		padding-bottom: 7px;
		letter-spacing: 4px;
		font-size: 14px;
		padding-right: 15px;
		text-transform: uppercase;
	}
	svg {
		transform: translateX(-8px);
		transition: all 0.3s ease;
	}
	&:hover {
		svg {
			transform: translateX(0);
		}
		.hover-underline-animation {
			&:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}
	&:active {
		svg {
			transform: scale(0.9);
		}
	}
}
.hover-underline-animation {
	position: relative;
	color: black;
	padding-bottom: 20px;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #000000;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
}









